
.name_room
{
text-align:center;
  width:100%;
  font-family:'Open Sans', sans-serif;
  color:#83DE97;
  font-weight:bold;
  font-size:16px;
  padding-top:10px;

}
.form-container-sub
{
 width:50%;
  margin:auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.form-container-sub-alt
{
 width:80%;
  margin:auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.form-container-sub-alt-1
{
 width:85%;
  margin:auto;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.form
{
width:100%;
  text-align:left;

}
.form_alt
{
  text-align:center;
}

.box2
{
  margin-left:150px;
  margin-right:150px;
  width:20%;
  border:none;
  border-radius:2px;
  height:30px;
  width:78px;
  color:#fff;
  font-family:'Open Sans', sans-serif;
  background-color:#59BCFB;
}

.form_line
{
  color:#000;
  font-size:14px;
  font-family:'Open Sans', sans-serif;

}
.form_sub_line
{
  padding-top:5px;
  color:#000;
  font-size:12px;
  font-family:'Open Sans', sans-serif;

}

.rdb
{
  visibility:hidden;

}
.image_label_floor
{
  height:100px;
  width:100px;
}

.image_label
{
  height:100px;
  width:130px;
}
.label-alt
{
 display:inline-block;
  height:20px;
  width:75px;
  vertical-align:middle;
  font-size:12px;
  border-radius:2px;
  padding-top:4px;

  color:#fff;
  background-color:#1D628B;
}

.label
{
 display:inline-block;
  height:20px;
  width:105px;
  vertical-align:middle;
  font-size:12px;
  border-radius:2px;
  padding-top:4px;

  color:#fff;
  background-color:#1D628B;
}

.label:on focus
{
background-color:#83DE97;

}

.radio
{

}
