.form
{
  padding: 120px 100px 100px 140px;
  vertical-alignment:middle;
}

.box2
{
  margin-left:150px;
  margin-right:150px;
  width:20%;
  border:none;
  height:30px;
  width:78px;
  color:#fff;
  font-family:'Open Sans', sans-serif;
  background-color:#59BCFB;
}

