*
{
  padding:0px;
  margin:0px;
}

.header
{
height:49px;
  width:100%;
  background-color:#fff;
  margin-bottom:5px;
}
.img
{
  height:65px;
  width:126px;
  padding-bottom:13px;
}
.link
{
float:right;
  font-family:'Open Sans', sans-serif;
  font-weight:400;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:15px;
  padding-left:15px;
  font-size:12px;
  color:#282828;
  letter-spacing:1.5px;
  text-decoration:none;
}
 .link:hover
{
color:#a2a2a2;
}


.h1
{
  width:100%;
  background-color: #83DE97;
  height:41px;
  color: #fff;
  font-size: 21px;
}

.cost
{
  width:1140px;
  margin:auto;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  padding-top: 5px;
}

.link1
{

  font-family:'Open Sans', sans-serif;
  color:#fff;

  text-decoration:none;
}


.container
{
  font-size:14px;
  font-family:'Open Sans', sans-serif;
  padding-top: 50px;
  width:1040px;
  margin:auto;
}

 .side-bar
 {
   width:300px;
   float:left;
}


.side-bar-item
{
  font-family:'Open Sans', sans-serif;
  border:none;
  width:217px;
  height:39px;
  margin-bottom:20px;

}

.side-bar-item:hover
{
    border:none;
    background-color:#83DE97;
    border-decoration:none;
    color:#fff;
}
.side-bar-item:focus
{
    border:none;
    background-color:#83DE97;
    border-decoration:none;
  color:#fff;
}

.content-area
{
  width:740px;
  float:right;
  position:relative;
}

.content-header
{height:39px;
  margin-bottom:20px;
}

.form-container
{
  background-color:#fafafa;
  height:300px;
}
